* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #f05537;
}

h2 {
  color: #39364f;
}

h3 {
  color: #1e0a3c;
}

h4 {
  color: #39364f;
}

main,
aside {
  margin: 0 auto;
  max-width: 1300px;
}

main {
  padding: 10px 20px;
}

aside {
  padding: 25px 20px;
}

section {
  margin: 25px 0px;
}

hr {
  height: 8px;
  background-color: #f8f7fa;
  border: none;
}
